window {
	background: rgba(0, 0, 0, 0.5);
}

.searchbar {
}

.layoutbox {
}

.innerbox.visible {
	animation: slidein 0.5s ease-out;
}

@keyframes slidein {
  from {
    margin: 100px 0px -100px 0px;
  }

  to {
    margin: 0px;
  }
}

/* Touchscreen stuff */

.grabber {
}